.spark-nlp-display-entity-name {
    font-size: 14px;
    line-height: 24px;
    background: #f1f2f3;
    border-width: medium;
    text-align: center;
    font-weight: 400;
    border-radius: 5px;
    padding: 2px 5px;
    display: block;
    margin: 3px 2px;
}

.spark-nlp-display-entity-wrapper {
    display: inline-grid;
    text-align: center;
    border-radius: 4px;
    margin: 0 2px 5px 2px;
    padding: 1px;
}


.spark-nlp-display-entity-type{
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    padding: 3px 5px;
}

.spark-nlp-display-others {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}